.recoverPassword-section {
    margin: 179px  auto;
}
.recoverPassword-heading h1 {
    font-family: 'Century Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 51px;
    margin-bottom: 40px;
    color: #000000;
}
.container {
    max-width: 636px;
    margin: 0 auto;
    
}
.recoverPassword-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
}
.input-email{
    margin: 15px 0 32px;
    width: 400px;
}
.input-reset{
    width: 200px;
    height: 48px;
    border: 1px solid #000000;;
}
